<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scml -->
      <package
            uri="http://www.example.org/scml"
            class="scml.ScmlPackage"
            genModel="model/scml.genmodel"/>
   </extension>

</plugin>
